@page "/SongTable"
@using Client.model

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env 


@if (SongList == null)
{
    <em>Loading...</em>
}
else if (!SongList.Any())
{
    <em>No songs found.</em>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Duration</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Release Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var song in SongList)
        {
            <tr>
                <td>
                    <i class="oi oi-media-play" @onclick="@(() => Console.WriteLine("Klikket på den knap"))"/>
                </td>
                <td>@song.Title</td>
                <td>@song.Duration</td>
                <td></td>
                @* @generateAlbums(song) *@
                <td>@generateArtists(song)</td>
                <td>@song.ReleaseYear</td>
            </tr>
        }
        </tbody>
    </table>
}
