@page "/SongTable"
@using Client.model

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env 


@if (SongList == null)
{
    <em>Loading...</em>
}
else if (!SongList.Any())
{
    <br/>
    <em>No songs found.</em>
}
else
{
    <table class="table">
        <thead>
        
        <tr>
            <th></th>
            <th>Title</th>
            <th>Duration</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Release Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var song in SongList)
        {
            <tr>
                @if (CurrentSong != null && CurrentSong.Id == song.Id)
                {
                    if (IsPlaying())
                    {
                        <td>
                            <i class="oi oi-media-pause" @onclick="() => TogglePlay()"/>
                        </td> 
                    }
                    else
                    {
                        <td>
                            <i class="oi oi-media-play" @onclick="() => TogglePlay()"/>
                        </td> 
                    }
                   
                }
                else
                {
                    <td>
                        <i class="oi oi-media-play" @onclick="() => PlaySong(song)"/>
                    </td> 
                }
               
                <td>@song.Title</td>
                <td>@song.Duration</td>
                <td>@generateAlbums(song)</td>
                <td>@generateArtists(song)</td>
                <td>@song.ReleaseDate</td>
            </tr>
        }
        </tbody>
    </table>
    
}
