@page "/AudioPlayer"
@inject IJSRuntime JS
<h3>AudioPlayer</h3>

<div class="audioPlayer">
        
    <button @onclick="previousSong"><span class="oi oi-arrow-circle-left" aria-hidden="true"></span></button>
    <button @onclick="TogglePlay">
        @if (isPlaying)
        {<span class="oi oi-media-pause" aria-hidden="true"></span>}
        else
        {<span class="oi oi-media-play" aria-hidden="true"></span>}
    </button>
    <button @onclick="nextSong"><span class="oi oi-arrow-circle-right" aria-hidden="true"></span></button>
    <label>Song Title: @songTitle</label>
    <label>Artist: @artistTitle</label>
    
    
    
    <div class="slidecontainer">
        <input @onclick="volumeClicked" type="range" min="1" max="100" value="30" class="slider" id="volumeControl">
        <label>Volume: @volume</label>
    </div>
    
    <div class="progressBar">
        <label>@currentDuration</label>
        <input @onclick="progressBarClicked" type="range" class="slider" id="progressBar" value="@pVP" max="100" style="width: 90%">
        <label>@totalDuration</label>
    </div>
    
</div>




@code {

    

}